<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>param1</param-name>
    <param-value>value1</param-value>
  </context-param>
  <context-param>
    <param-name>param2</param-name>
    <param-value>value2</param-value>
  </context-param>
  <context-param>
    <param-name>param1</param-name>
    <param-value>value3</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404error.jsp</location>
  </error-page>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.jspf</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterDemo</filter-name>
    <filter-class>com.jicl.filter.FilterDemo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterDemo</filter-name>
    <url-pattern>/mvc/login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterDemo2</filter-name>
    <filter-class>com.jicl.filter.FilterDemo2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterDemo2</filter-name>
    <url-pattern>/mvc/login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterDemo3</filter-name>
    <filter-class>com.jicl.filter.FilterDemo3</filter-class>
    <init-param>
      <param-name>param1</param-name>
      <param-value>value1</param-value>
    </init-param>
    <init-param>
      <param-name>param2</param-name>
      <param-value>value2</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterDemo3</filter-name>
    <url-pattern>/mvc/login.jsp</url-pattern>
  </filter-mapping>
  
  <!-- 注册监听器 -->
  <listener>
  	<description>MyServletContextListener</description>
  	<listener-class>com.jicl.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
  	<description>MyHttpSessionListener</description>
  	<listener-class>com.jicl.listener.MyHttpSessionListener</listener-class>
  </listener>
  <!-- 配置session的存活时间为1分钟 -->
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  
  
</web-app>